stage_2:
  model: VGGTMVRM
  target: stage2.models.DDTMVRM_pos_multi.DiTwDDTHead
  save_folder: fix_loader_train_hypersim_tartanair_val_eth3d_deg_blur_kernel50_intensity01
  exp_name: test__kernel100__val20_seed
  params:
    input_size: 16
    patch_size: 1
    vggt_patch_size: 14
    in_channels: 1024
    # hidden_size: [1536, 2880]
    # hidden_size: [1280, 2880]
    hidden_size: [1152, 2048]
    depth: [28, 2]
    num_heads: [16, 16]
    mlp_ratio: 4.0
    use_qknorm: true
    use_swiglu: true
    use_rmsnorm: true
    wo_shift: false
    use_pos_embed: false

transport:
  params:
    path_type: 'Linear'
    prediction: 'velocity'
    loss_weight: null
    time_dist_type: 'logit-normal_0_1'

sampler:
  mode: ODE
  params:
    sampling_method: 'euler'
    num_steps: 50
    atol: 1.0e-6
    rtol: 1.0e-3
    reverse: false

guidance:
  method: 'cfg'
  scale: 1.0
  t_min: 0.0
  t_max: 1.0

misc:
  # latent_size: [1041, 1024]
  num_classes: 0
  # time_dist_shift_dim: 1065984 # 1041*1024
  time_dist_shift_base: 4096

  
training:
  epochs: 50
  global_batch_size: 4
  grad_accum_steps: 1 # change according to your GPU memory
  ema_decay: 0.9999
  num_workers: 8
  log_interval: 50
  checkpoint_interval: 1000 # step
  sample_every: 1000 
  clip_grad: 1.0
  global_seed: 42
  extract_layer: 3
  optimizer:
    lr: 2.0e-4
    betas: [0.9, 0.95]
    weight_decay: 0.0
  scheduler:
    type: linear
    warmup_epochs: 20 # 40
    decay_end_epoch: 800
    base_lr: 2.0e-4 
    final_lr: 2.0e-5
    warmup_from_zero: false

data:
  train:
    num_view: 4
    dataset: ['hypersim', 'tartanair']
    library:
      hypersim:
        clean_img_path: /mnt/dataset1/MV_Restoration/hypersim/data/
        gt_depth_path: /mnt/dataset1/MV_Restoration/hypersim/data/
        annotation_path: /mnt/dataset1/MV_Restoration/hypersim/metadata_images_split_scene_v1.csv
        view_sel:
          strategy: "near_camera" # or "random", "sequential"
          expand_ratio: 2.0

      tartanair:
        clean_img_path: /mnt/dataset1/MV_Restoration/tartanair/data/
        gt_depth_path: /mnt/dataset1/MV_Restoration/tartanair/data/
        annotation_path:
        view_sel:
          strategy: "near_random" # or "random", "sequential"
          expand_ratio: 2.0
      
      eth3d:
        clean_img_path: /mnt/dataset1/MV_Restoration/da3_benchmark_dataset/clean/eth3d
        gt_depth_path: /mnt/dataset1/MV_Restoration/da3_benchmark_dataset/clean/eth3d
        annotation_path: 
        view_sel:
          strategy: "near_random" # or "random", "sequential"
          expand_ratio: 2.0

  val:
    num_view: 4
    dataset: ['eth3d']
    library:
      hypersim:
        clean_img_path: /mnt/dataset1/MV_Restoration/hypersim/data/
        gt_depth_path: /mnt/dataset1/MV_Restoration/hypersim/data/
        annotation_path: /mnt/dataset1/MV_Restoration/hypersim/metadata_images_split_scene_v1.csv
        num_eval_img: 20
        view_sel:
          strategy: "near_random" # or "random", "sequential"
          expand_ratio: 2.0

      tartanair:
        clean_img_path: /mnt/dataset1/MV_Restoration/tartanair/data/
        gt_depth_path: /mnt/dataset1/MV_Restoration/tartanair/data/
        annotation_path:
        num_eval_img: 20
        view_sel:
          strategy: "near_random" # or "random", "sequential"
          expand_ratio: 2.0

      eth3d:
        clean_img_path: /mnt/dataset1/MV_Restoration/da3_benchmark_dataset/clean/eth3d
        gt_depth_path: /mnt/dataset1/MV_Restoration/da3_benchmark_dataset/clean/eth3d
        annotation_path: 
        num_eval_img: 20
        view_sel:
          strategy: "near_random" # or "random", "sequential"
          expand_ratio: 2.0
      
# eval:
#   eval_interval: 25000 # every 10 epochs
#   eval_model: true
#   data_path: 'data/imagenet/val/'
#   reference_npz_path: 'data/imagenet/VIRTUAL_imagenet256_labeled.npz'
